<nav>
    <a href="/">Главная</a> |  <a href="/fio">ФИО</a> | <a href="/znania">Мои знания</a> | <a href="/info">Краткая инфо</a> | 
    <a href="/dopinfo">Дополнительно обо мне</a> |  <a href="/navik">Мои навыки</a> |  <a href="/contact">Контакты</a>
    
</nav>